{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

{{ annotations | dump }}
<div class="o-grid-row">

<section data-o-grid-colspan="12 M10 Mcenter L8 Lpush1 Luncenter XL7" id="speech-intro">
  <figure class="graphic graphic-b-1 graphic-pad-1">
  	<img alt="Theresa May and Article 50" src="https://www.ft.com/__origami/service/image/v2/images/raw/ftcms%3A4d94f956-1570-11e7-b0c1-37e417ee6c76?source=ig&fit=scale-down&width=700" />
    <figcaption class="o-typography-caption">Kari-Ruth Pedersen</figcaption>
  </figure>

  <a href="" target="_blank">TKTK link to PDF TKTK</a>

  {{ intro }}
</section>

<section data-o-grid-colspan="12 M10 Mcenter L8 Lpush1 Luncenter XL7">
  <div class="speech" data-annotation-text data-annotation-id="{{berthaId}}">
    {{ speech | safe }}
  </div>
</section>
</div>
{% endmarkdown %}
{% endblock %}
